@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
@tailwind base;

html {
    overflow-x: hidden;
}
h1 {
    @apply text-5xl;
}

h2 {
    @apply text-4xl;
}

h3 {
    @apply text-2xl;
}


p {
    @apply text-base;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
li {
    @apply text-base;
}





@tailwind components;
.btn {
    @apply  font-display text-base tracking-wider text-custom-white px-10 py-4 rounded;
}


@tailwind utilities;

.underline-custom {
    position: relative;
}


.underline-custom--left::after {
    position: absolute;
    height: 2px;
    content: ' ';
    background-color: #774f7da3;
    width: 100px;
    bottom: -10px;
    left: 0;
}

.underdash-left {
    position: relative;
}

.underdash-left::after {
    position: absolute;
    height: 2px;
    content: ' ';
    background-color: #774f7da3;
    width: 100px;
    bottom: -10px;
    left: 0;
}


.underline-custom--center::after {
    position: absolute;
    height: 2px;
    content: ' ';
    background-color: #774f7da3;
    width: 100px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}


/* The grid-switcher is only used once on the home page, not very reusable */
.grid-switcher  > div:nth-of-type(2) {
    grid-template-areas: "a b";
                         
}



.grid-switcher  > div:nth-of-type(2) > div:nth-of-type(1) {
    grid-area: b;
}



.grid-switcher  > div:nth-of-type(2) > div:nth-of-type(2) {
    grid-area: a;
}


main {
    min-height: calc(100vh - 97px);
}






 @media (max-width: 623px) {


    .grid-switcher  > div:nth-of-type(2) {
        grid-template-areas: "b" 
                              "a";                 
    }
}


.article > p {
    line-height: 2;
    
}


.gradient {
    background-image: linear-gradient(to right, #3a0a42, #3030300f);
}

.gradient-step {
    background-image: linear-gradient(to right, #3a0a42 20%,#780a8a 70%, #6b6a6a8f);
}